doctype html
html
   head
      title Employees
   body
      table(border="2" cellpadding="10") 
        thead 
            th FullName 
                
            th Email
                
            th Mobile
        if allemployees.length!=0    
            each val in allemployees
                tr 
                    td 
                        a(href=`/employees/details/${val.mobile}`) #{val.fullname}
                    td #{val.email}
                    td #{val.mobile}
        else
            h1 no employee available